.normal_color {
    background-color: white;
    color: #fcdf06;
    font-family: Arial, sans-serif;
	text-align: center-left;
}

.soul_color {
	background-color: white;
    color: #ffe000;
    font-family: Arial, sans-serif;
	text-align: center-left;
}

.crimson_color {
	background-color: white;
	color: #ec0101;
	font-family: Arial, sans-serif;
	text-align: center-left;
}