html{
    background-image:url("img/choix1.webp");
}
body {
    background-color: black;
    width: 900px;
    padding: 32px;
    border-radius: 30px;
}
a {
    color: cornflowerblue;
    font-weight: bold;
    text-decoration-line: none;
}